body {
    font-family: "Jetbrains Mono";
    src: url("/fonts/JetBrainsMono-Regular.ttf");
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}

body p,
ul,
li {
    color: #455A64;
}

h1 {
    font-size: 3.5em;
    margin-top: 55px;
    margin-bottom: 0;
}

h2 {
    color: #263238;
}

.main {
    background-color: antiquewhite;
    padding: 50px 50px;
}

.main i {
    color: #64B5F6;
}

.title {
    position: relative;
}

.title::after {
    background-color: #64B5F6;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    bottom: -10px;
    left: 0;
    position: absolute;
    width: 100px;
}

.content {
    margin-top: 110px;
    position: relative;
}

.content h2 {
    position: relative;
}

.content h2::after {
    background-color: #64B5F6;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    bottom: -10px;
    left: 0;
    position: absolute;
    width: 100%;
}

.slider {
    background-color: #64B5F6;
    min-width: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.slider h2 {
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #455A64;
    color: #64B5F6;
}

.slider p {
    padding-right: 50px;
    padding-left: 50px;
}

img {
    border-radius: 50%;
    height: 220px;
    width: 220px;
    box-shadow: 1px 1px 1px 1px;
}

.list {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    color: #455A64;
    width: 100%;
    font-size: 50px;
}